<div class="row invitation-box container">
  <div class="card">
    <div class="rsvp-card-title">
      <h2>Invitation to <%= @location %></h2>
    </div>
    <% if @invitation.errors.any? %>
      <%= render 'invitation_errors' %>
    <% else %>
      <%= render partial: 'questions', locals: { questions: questions, body: body } %>
    <% end %>
  </div>
</div>
