<div class="table-responsive">
  <table class="table table-striped table-bordered text-nowrap">
    <thead>
    <% @report.headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
    </thead>
    <tbody>
    <% @report.values.each do |membership| %>
      <tr>
        <% membership.each do |field| %>
          <td><%= field %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
